<!DOCTYPE html>
<html>
    <head>
        <title> Sign In </title>
        <link rel="stylesheet" href="../../..//resources/css/main.css">
    <script src="../../..//resources/js/main.js"></script></head>
    </head>
    <body >
      <section class="logsenq"> 
        <div class="senq">
         <h1> <img src="../../../resources/images/snk2.jpg" alt="logo">&ensp; 
             Sen'q Restaurant  </h1>  
         
        </div>
        
        <div class="signin" >
          <form  id="form "action="../ideas/Book.html" >
            <h1>Sign Up</h1>
              
              <label for="text">Full Name</label>
              <input  id="userName" type="text" placeholder="Enter Full name" name="text" pattern="[a-z]{1,15}"required>
              <label for="email">Email</label>
              <input type="email" id="email" placeholder="Enter Email" name="email" required>
              <label for="user phone number">Phone number</label><br>
                    <input type="tel" id="phoneNumber" name="typephonenumber" 
                        placeholder="123-345-6789" required><br>
              <label for="psw">Password</label>
              <input type="password" id="password1" placeholder="Enter Password" name="psw" required minlength="8"> 
          
              <label for="psw-repeat"><b>Confirm Password</b></label>
              <input type="password" id="password2" minlength="8"
               placeholder="Repeat Password" name="psw-repeat" required> 
          
              <div class="sign-in-link">
                <p>Aleardy have an account<a href="login.html"> Log In</a></p> 
                <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>                                                                                                                   
            </div>
            <input type="reset"value="Reset">
            <input id="sub" type="submit" value="SignUP" onclick="check2()">
              
          </form>
        </div>
      </section>
    </body>
</html>